.main-header {
  width: 100%;
  background-color: #f0fcfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 80px;
}

.header-container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-container a {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
  width: auto;
  object-fit: contain;
}

/* Navegación y Tipografía */
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.nav-item a {
  text-decoration: none;
  color: #0c2340;
  font-weight: 700;
  font-size: 0.9rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in-out;
  padding-bottom: 5px;
}

.nav-item a:hover {
  color: #008080;
}

/* Estilos específicos para el elemento activo (INICIO) */
.nav-item a.active {
  color: #61b896;
  border-bottom: 3px solid #61b896;
}
